$texto:(
    tamaño: 20px,
    color: white,
    tipografia: oswald,
    centrado: justify,
    decoracion: none,
);

//textotitulos
$textot:(
    tamaño: 30px,
    color: white,
    tipografia: oswald,
    centrado: justify,
    decoracion: none,
);

$textoh2:(
    tamaño: 35px,
    color: white,
    tipografia: oswald,
    centrado: center,
);

$textoheader:(
    color: rgba(240, 231, 231, 0.89),
    tamaño: 45px,
    posicion: center,
    tipografia: Rubik Dirt,
)