//font-size
$texto: 45px;
$texto2: 35px;
$texto3: 20px;
$texto4: 30px;
$texto5: 11px;

//font-family
$tipo1: oswald;
$tipo2: Rubik Dirt;

//text-align
$posicion1: justify;
$posicion2: center;

//color
$color1: white;
$color2: rgba(240, 231, 231, 0.89);

//text-decoration
$decoration: none;


//variables para las grillas (grid)
$grid1: 0.3fr 0.3fr 0.3fr;
$grid2: 0.3fr 0.3fr;
$grid3: 1fr 2fr 0.5fr;
