//footer de index
.footer{
    width: 90%;
    margin-left: 3%;
    margin-bottom: 3%;
    display: flex;
    gap: 4%;
}

.giffooter{
    width: 100%;
    height: 100%;
}

.foot2{
    display: flex;
    flex-direction:column;
    justify-content: end;
}

//footer de index-temporadas
.contenedorft{
    display: flex;
    justify-content: center;
    gap: 18px;
}

.contenedorft1{
    display: flex;
    justify-content: start;
    flex-direction: column;
}

section{
    div{
        aside{
            a{text-decoration: underline;}
        }
    }
}

//footer con media queries
@media screen and (min-width: 414px) {
   
    .contenedorft{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .foot2{
        display: flex;
        flex-direction: column;
        justify-content: end;
        margin-top: 10px;
        margin-left: 10px;
    }

    .iconos{
        display: flex;
        flex-direction: row;
    }
}